@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--primary: #3a53e4;
	--secondary: #fa2945;
	--light: #f5f5f8;
	--mid: #dde0e7;
	--dark: #29292b;
}

/* removes scrollbar */
::-webkit-scrollbar {
	width: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Jost", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--dark);
	overflow-x: hidden;
}

canvas {
	width: 100%;
	height: 100%;
}

/* actives the hover effect on the bav links */
.link {
	position: relative;
}

.link::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background: var(--light);
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	.link:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

.link__active::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: var(--light);
}

/* transition */
.trs {
	@apply transition-all duration-500;
}
